.container {
  padding: 80px 0;
  display: flex;
  align-items: flex-start;
  gap: 80px;
  min-height: 60vh;
}

.navigation {
  display: flex;
  flex-direction: column;
  background-color: #323234;
  min-width: 200px;
  border-radius: 16px;
  overflow: hidden;
}

.category {
  padding: 10px 20px;
  cursor: pointer;
  color: #858585
}

.active {
  background-color: #49494A;
  color: #FFFFFF;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}


@media (max-width: 1700px ) {
  .container {
    gap: 50px;
  }
}

@media (max-width: 1400px ) {
  .container {
    gap: 120px;
  }
}

@media (max-width: 1200px ) {
  .container {
    gap: 60px;
  }
  .navigation {
    min-width: 160px;
  }
  .products {
    gap: 20px;
  }
}

@media (max-width: 900px ) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 40px 0;
  }
  .navigation {
    flex-direction: row;
  }
  .navigation span {
    font-size: 12px;
  }
  .products {
    justify-content: space-between;
    gap: 20px 0;
  }  
}