.card {
  max-width: 240px;
  background-color: #323234;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 16px;
  gap: 20px;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 16px;
  object-fit: cover;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price {
  font-weight: 600;
}

.title {
  font-size: 14px;
}


@media (max-width: 1200px ) {
  .card {
    max-width: 180px;
  }

  .image {
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 900px ) {
  .card {
    max-width: 30%;
  }

  .image {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 600px ) {
  .card {
    max-width: calc(50% - 10px);
    padding: 10px;
  }

  .price {
    font-size: 14px;
  }

  .title {
    font-size: 12px;
  }
}