.container {
  padding: 80px 0;
  display: flex;
  gap: 80px;
  justify-content: center;
  min-height: 60vh;
}

.image {
  width: 480px;
  height: 480px;
  object-fit: cover;
  border-radius: 16px;
}

.category {
  color: #858585;
  font-size: 14px;
}

.h2 {
  margin: 0;
  margin-bottom: 40px;
}

.price {
  font-size: 32px;
  margin-bottom: 40px;
}

.info {
  margin-bottom: 20px;
}

.buttons {
  margin-top: 40px;
  display: flex;
  gap: 40px;
}

@media (max-width: 1400px) {
  .image {
    width: 360px;
    height: 360px;
  }
}

@media (max-width: 1200px) {
  .container {
    gap: 40px;
  }
  .image {
    width: 240px;
    height: 240px;
  }
  .h2 {
    margin-bottom: 20px;
  }

  .price {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .buttons {
    flex-direction: column;
    gap: 20px;
  }

  .buttons button {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    padding: 40px 0;
  }
  .image {
    margin: auto;
  }
  .info {
    font-size: 14px;
    margin-bottom: 10px;
  }
}