.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 6;
}

.modal {
  background-color: #323234;
  border-radius: 32px;
  padding: 60px 80px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 7;
  max-height: 90vh;
  overflow: auto;
  scrollbar-width: none;
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal::-webkit-scrollbar-track {
  display: none;
}

.modal::-webkit-scrollbar-thumb {
  display: none;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: transparent;
  border: none;
  padding: 0;
}


@media (max-width: 600px) {
  .modal {
    width: 85vw;
    padding: 8%;
  }
  .close {
    top: 20px;
    right: 20px;
  }
  .close img {
    width: 12px;
  }
}