.background {
  background-color: #323234;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.logo {
  width: 120px;
  height: 40px;
}

.navigation {
  display: flex;
  gap: 100px;
  color: #858585
}

.active {
  color: #fff;
}

.mobile {
  display: none;
}

.cart {
  position: relative;
}

.counter {
  padding: 0 5px;
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  background-color: #51A2DA;
  border-radius: 5px;
  text-align: center;
}

@media (max-width: 1200px ) {
  .navigation {
    gap: 50px;
  }
}

@media (max-width: 900px ) {
  .mobile {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 12px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  .desctop {
    display: none;
  }
}

@media (max-width: 600px ) {
  .navigation {
    gap: 20px;
  }
  .navigation span {
    font-size: 12px;
  }
  .logo {
    width: 80px;
    height: 27px;
  }
}
