.footer {
  padding: 80px 0;
  background-color: #323234;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blocks {
  display: flex;
  justify-content: space-between;
  gap: 200px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info span:first-child {
  font-weight: 600;
}

.footer img {
  width: 200px;
}

@media (max-width: 1400px ) {
  .blocks {
    gap: 100px;
  }
}

@media (max-width: 1200px ) {
  .blocks {
    gap: 50px;
  }

  .footer img {
    width: 140px;
  }

  .info span {
    font-size: 14px;
  }
}

@media (max-width: 900px ) {
  .footer {
    padding: 40px 0;
    background-color: #323234;
  }
}

@media (max-width: 600px ) {
  .container {
    flex-wrap: wrap;
    gap: 40px;
  }

  .blocks {
    flex-direction: column;
    order: 1;
    gap: 30px;
  }
}
